/* color classes */

.color-primary {
    color: $primary-color;
}

.color-primary-bg {
    background: $primary-color;
}

.color-second {
    color: $second-color;
}

.color-second-bg {
    background: $second-color;
}

.color-red {
    color: $red-color;
}

.color-red-bg {
    background: $primary-color;
}